


body {
  font-size: 16px;
  color: #fff;
  background-color: #deb545;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #a89359;
  border-radius: 0;
  border: 0;
  position: relative;

}



.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #951C49;
  font-size: 1.5em;
  text-transform: none;
  font-weight: bold;
  text-align: left;
  text-shadow: 1px 2px 1px #222;
  margin-top: 0;
  margin-bottom: 0;

  line-height: .75;

}

.text-center{

  color: #951C49;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}


#nav-list {
  margin-top: 10px;

}
#nav-list a {
  color: #951C49;
  text-align: center;
  background: #d1958e;
}
#nav-list a:hover {
  background: #D2691E;
}
#nav-list a span {
  font-size: 1.8em;
}


.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

.row {
    margin: 15px;
}

.col-xs-12 {

  background-color:cornsilk;
  padding: 10px;
  border: 2px solid black;
  width: 100%;
  height: 1000px;
  margin:5px;
  overflow: auto;
  
  top: -15px;
  float:left;
 
  margin:-5px;

  
}

 .text{
  color: black;
  overflow: auto;

 

}



 }