
* {

  box-sizing: border-box;
  margin: 0;
  padding: 0

}



h1 {
  margin: 30px;
  text-align: center;
  font-family : "palatino";
  font-size : 2.5em;

  
}


.container{


  width:100%;
  height: auto;

   
}


.content {
  
  margin-top: 60px;
  text-align: left;
  padding :5px;
  font-family: open sans;

  }

  p 
{
  background-color:#D2691E;
  padding : 10px;
  border: 2px solid black;
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 120%;
  
}

.box1{
  background-color: #EADEDB;
  padding: 5 px;
  border: 2px solid black;
  width: 20%;
  height: 200px;
  margin: 5px;
  margin-left: 20px;
  overflow: auto;
  position: relative;
  top: 5px;
  float: left;
  
  
}

.box2{
  background-color: #EADEDB;
  padding: 5px;
  border: 2px solid black;
  width: 20%;
  height: 200px;
  margin: 5px;
  margin-left: 20px;
  overflow: auto;
  position: relative;
  top: 5px;
  float: left;
  
  
}

.box3{
  background-color: #EADEDB;
  padding: 5px;
  border: 2px solid black;
  width: 20%;
  height: 200px;
  margin: 5px;
  margin-left: 20px;
  overflow: auto;
  position: relative;
  top: 5px;
  
  
  
}

@media (min-width: 992px)  {
  .box1,.box2,.box3 {
  background-color: #EADEDB;
  padding: 5px;
  border: 2px solid black;
  width: 30%;
  height: 200px;
  margin: 5px;
  margin-left: 25px;
  overflow: auto;
  position: relative;
  top: 5px;
  float: left;
  
}
}

@media (min-width: 768px) and (max-width: 991px)  {
  .box1 {
  background-color: #EADEDB;
  padding: 5px;
  border: 2px solid black;
  width: 46.5%;
  height: 200px;
  margin: 5px;
  
  margin-left: 16px;
  overflow: auto;
  position: relative;
  top: 5px;
  float: left;
  

}

.box2 {
  background-color: #EADEDB;
  padding: 5px;
  border: 2px solid black;
  width: 46.5%;
  height: 200px;
  margin: 5px;
  margin-left: 20px;
  overflow: auto;
  position: relative;
  top: 5px;
  float:right;
  

}

 .box3 {
  background-color: #EADEDB;
  padding: 5px;
  border: 2px solid black;
  width: 98%;
  height: 200px;
  margin-left: 5px;
  
  overflow: auto;
  position: relative;
  top: 15px;
  float: right;

}
}

@media (max-width: 767px){
  .box1,.box2,.box3 {
  background-color: #EADEDB;
  padding: 5px;
  border: 2px solid black;
  width: 95%;
  height: 200px;
  margin: 5px;
  margin-left:10px;
  overflow: auto;
  position: relative;
  top: 5px;
  
  }
}





